/*Diego Carrion Rodríguez*/
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');
/*html,body{
    width: 1300px;
}*/
body{
    
    height: 100%;
    font-family: 'Yuji Syuku', serif;
    color: white;
    display: block;
}
#image{
    height: auto;
    width: 20%; /*original:260px*/
    float: left;
    overflow: hidden;
}

img{
    width: auto;
}

#cabezera{
    height: 120px;
    width: 100%; 
    background-color: #0079B6;
    overflow: hidden;
}
#textoE{
    font-family: 'Corinthia', cursive;
    font-size: 6em;
    padding-left: 30.769230769%;/*original 400px, que es un 31% de 1300*/
    padding-top: 40px;
    width: 49.23076923%; /*original 640px*/
}
header{
    width: 100%;
    height: 120px;
    margin-bottom: 0;
    background-color: #0079B6;
    position: fixed;
    z-index: 20;
    top: 0;
}
main{
    margin-top: 0;
    width: 100%;
    text-align: center;
    background-color: #006293;
    padding-bottom: 100px;
}
#video{
    margin-top: 50px;
}
iframe{
    width: 43.076923076%; /*original 560px*/
    height: 315px;
    margin-left: 28.461538461%;/*original 370px*/
    margin-right: 28.461538461%;/*original 370px*/
}
#parte1{
    position: relative;
    top: 200px;
    min-height: 550px;
    margin-left: 20%; /*original:260px*/
    margin-right: 20%; /*original:260px*/
    width: 60%;/*original 780px*/
    background-color: #b3000c;
    margin-bottom: 300px;
    
}
#parallax1{
    background-image: url("../imgs/fondoNavidad.jpg");
    min-height: 350px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax2{
    background-image: url("../imgs/parallax1.jpeg");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ignacio{
    margin-top: 150px;
    height: 300px;
    width: 40%;/*original 156, que es un 20% de 780*/
    margin-left: 5%;/*original 117, que es un 15% de 780*/
    margin-right: 5%;/*original 117, que es un 15% de 780*/
    float: left;
}

#imgFinal{
    width: 70%; /*original 560, que es un 70% de 780*/
    margin-left: 15%;/*original 117, que es un 15% de 780*/
    margin-right: 15%;/*original 117, que es un 15% de 780*/
    max-height: 350px;
    height: auto;
    margin-top: 40px;
    position: relative;
    top: 200px;
}

#parte2{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: black;
    /*margin-top: 12%;*/
    min-height: 900px;
    overflow: hidden;
    width: 100%;

}
#parte2 h1{
    margin-top: 0px;
    padding-top: 30px;
    margin-left: 40%;/*original 520px, que es un 40% de 1300*/
    margin-right: 40%;/*original 520px, que es un 40% de 1300*/
    width:20%;/*original 260px, que es un 20% de 1300*/
}
#parte3{
    margin-top: 100px;
    min-height: 800px;
    margin-left: 20%;/*original 260, que es un 20% de 1300*/
    margin-right: 20%;/*original 260, que es un 20% de 1300*/  
    width: 60%; /*original 780px, que es un 60% de 1300*/
    background-color: #b3000c;
}
#parte3 h1{
    margin-top: 0px;
    padding-top: 30px;
    margin-left: 33.333333333%;/*original 260, que es un 33% de 780*/
    margin-right:33.333333333%;/*original 260, que es un 33% de 780*/
    width:33.333333333%;/*original 260, que es un 33% de 780*/
}
#texto1{
    
    margin-top: 12%;
    margin-bottom: 5%;
    width: 30%;/*original 234px, que es un 30% de 780*/
    margin-right: 20% /*original 152, que es un 19,5% de 780*/;
    float: left;
    min-height: 40px;
    font-size: 2em;
}
#texto2{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 30%;/*original 234px, que es un 30% de 780*/
    margin-right: 20% /*original 152, que es un 19,5% de 780*/;
    
    float: left;
    min-height: 40px;
    
}
#texto3{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 24%/*original 312px, que es un 24% de 1300*/;
    margin-left: 38%/*original 494px, que es un 38 de 1300*/;
    margin-right:38%/*original 494px, que es un 38 de 1300*/;
}
#texto4{
    padding-left: 20%;/*original 156px, que es un 20% de 780*/
    padding-right: 20%;/*original 156px, que es un 20% de 780*/
    position: relative;
    top: -350px;
}
footer{
    width: 100%;
    height: 120px;
    background-color: #0079B6;
}

.footer-basic {
    padding:40px 0;
    background-color:#0079B6;
    color:white;
  }
  
  .footer-basic ul {
    background-color:#0079B6;
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    display: inline-block;
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  .footer-basic ul span:hover {
    opacity:1;
  }
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:60%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
    padding-top: 10px;
  }
  span{
      color:white ;
      opacity: 0.75;
  }
  
  .footer-basic .social > a:hover  {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    background-color:#0079B6;
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:white;
    margin-bottom:0;
  }
  #black{
      display: none;
      height: 100%;
      width: 100%;
      background-color: black;
      z-index: 300;
      font-size: 5em;
      position: fixed;
      top: 0;
  }
  