html,body{
    width: 1300px;
}
#image{
    height: auto;
    width: 20%;
    float: left;
    overflow: hidden;
}
img{
    width: auto;
}

#porquenova{
    height: 60px;
    width: 260px;
}
#header{
    width: 1296px;
    height: 60px;
    border: 1px solid black;
}
#contenedor{
    width: 1300;
    text-align: center;
}
#parte1{
    border: 1px solid black;
    margin-top: 20px;
    min-height: 400px;
    margin-left: 260px;
    margin-right: 260px;
    width: 776px;
}
#parallaxing{
    height: 60px;
    width: 780px;
}
#ignacio{
    margin-top: 10%;
    height: 200px;
    width: 156px;
    margin-left: 117px;
    margin-right: 117px;
    float: left;
}
#porquenova4{
    width: 30%;
    height: 200px;

}
#porquenova5{
    width: 50%;
    height: 200px;
    margin-top: 40px;

}
#p1{
    
    margin-top: 12%;
    margin-bottom: 5%;
    width: 234px;
    margin-right: 152px;
    /*margin-left: 117px;*/
    float: left;
    min-height: 40px;
    background-color: red;
}
#p2{
    
    margin-top: 5%;
    margin-bottom: 5%;
    width: 234px;
    margin-right: 152px;
    /*margin-left: 117px;*/
    float: left;
    min-height: 40px;
    background-color: blue;
}

#parallax{
    width: 80%;
    text-align: center;
    display: block;
    width: 776px;
    margin-bottom: 0px;
    margin-left: 260px;
    margin-right: 260px;
}
#parte2{
    background-color: black;
    /*margin-top: -22px;*/
    min-height: 400px;
    margin-left: 260px;
    margin-right: 260px;
    width: 780px;
    color: white;
}
#parte2 h1{
    margin-top: 0px;
    padding-top: 30px;
}
#parte3{
    border: 1px solid black;
    
    min-height: 400px;
    margin-left: 260px;
    margin-right: 260px;
    
    width: 776px;
    margin-bottom: 100px;
}
#parte3 h1{
    margin-top: 0px;
    padding-top: 30px;
}
#p3{
    padding-left: 20%;
    padding-right: 20%;
}